Repository sulton-max/Training.AirBnb.Clone, pull requests merged in 2024-01, with the labels that each got.

#254 Implemented email and sms rendering services
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Configurations/HostConfiguration.Extensions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Models/EmailMessage.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Models/NotificationMessage.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Models/SmsMessage.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Models/TemplatePlaceholder.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Services/IEmailRenderingService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Services/ISmsRenderingService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Settings/TemplateRenderingSettings.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Enums/NotificationEvent.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Services/EmailRenderingService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Services/SmsRenderingService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Validators/EmailMessageValidator.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Validators/SmsMessageValidator.cs
Labels: feature, medium, backend

#268 Create AccessToken entity, AccessTokenGenerator service
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Configurations/HostConfiguration.Extensions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Mappers/AccessTokenMapper.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Models/DTOs/AccessTokenDto.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/appsettings.Development.json
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/AirBnB.Application.csproj
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Services/IAccessTokenGeneratorService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Services/IAccessTokenService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Serializers/IJsonSerializationSettingsProvider.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Constants/ClaimConstants.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Entities/AccessToken.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Entities/Role.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Entities/User.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Caching/RedisDistributedCacheBroker.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Identity/Services/AccessTokenGeneratorService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Identity/Services/AccessTokenService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Settings/JwtSettings.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Validators/AccessTokenValidator.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Caching/Brokers/ICacheBroker.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Caching/Models/CacheEntryOptions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/AccessTokenRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/IAccessTokenRepository.cs
Labels: feature, medium, backend

#269 Create listing components
  src/Training.AirBnb.Clone.Frontend/src/Modules/locations/components/ListingCard.vue
  src/Training.AirBnb.Clone.Frontend/src/Modules/locations/components/ListingsGrid.vue
  src/Training.AirBnb.Clone.Frontend/src/common/views/HomeView.vue
Labels: feature, high, frontend

#270 Listings Category Tab Component
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Configurations/HostConfiguration.Extensions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Configurations/HostConfiguration.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Controllers/ListingsController.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/appsettings.Development.json
  src/Training.AirBnb.Clone.Frontend/index.html
  src/Training.AirBnb.Clone.Frontend/src/Modules/locations/components/ListingCategoryCard.vue
  src/Training.AirBnb.Clone.Frontend/src/Modules/locations/components/ListingsCategoryTab.vue
  src/Training.AirBnb.Clone.Frontend/src/Modules/locations/components/ListingsContainer.vue
  src/Training.AirBnb.Clone.Frontend/src/Modules/locations/components/ListingsFilter.vue
  src/Training.AirBnb.Clone.Frontend/src/Modules/locations/models/ListingCategory.ts
  src/Training.AirBnb.Clone.Frontend/src/assets/main.css
  src/Training.AirBnb.Clone.Frontend/src/common/components/HorizontalScroll.vue
  src/Training.AirBnb.Clone.Frontend/src/common/components/NextButton.vue
  src/Training.AirBnb.Clone.Frontend/src/common/components/PreviousButton.vue
  src/Training.AirBnb.Clone.Frontend/src/common/components/SwitchButton.vue
  src/Training.AirBnb.Clone.Frontend/src/common/views/HomeView.vue
  src/Training.AirBnb.Clone.Frontend/src/infrastructure/apiClients/airBnbApiClient/brokers/AirBnbApiClient.ts
  src/Training.AirBnb.Clone.Frontend/src/infrastructure/apiClients/airBnbApiClient/brokers/ListingCategoryEndpointsClient.ts
  src/Training.AirBnb.Clone.Frontend/tailwind.config.js
Labels: feature, medium, frontend

#296 Add common CQRS infrastructure
  .vs/Training.AirBnb.Clone/FileContentIndex/cda7271c-4944-4945-a37d-c41fc5861fa6.vsidx
  .vs/Training.AirBnb.Clone/v17/.wsuo
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Configurations/HostConfiguration.Extensions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Configurations/HostConfiguration.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/appsettings.Development.json
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/AirBnB.Application.csproj
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/EventBus/Brokers/IEvenBusBroker.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/EventBus/Brokers/IEventSubscriber.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/EventBus/Brokers/IRabbitMqConnectionProvider.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/EventBus/Services/IAsyncEventBusSubscriber.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/AirBnB.Domain.csproj
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Commands/ICommand.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Commands/ICommandHandler.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Common/Events/IEvent.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Common/Events/IEventHandler.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Events/Event.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Queries/IQuery.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Queries/IQueryHandler.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/AirBnB.Infrastructure.csproj
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/EventBus/Brokers/RabbitMqConnectionProvider.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/EventBus/Brokers/RabbitMqEventBusBroker.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/EventBus/Services/EventBusBackgroundService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/EventBus/Services/EventSubscriber.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Settings/EventBusSubscriberSettings.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Settings/RabbitMqConnectionSettings.cs
Labels: feature, high, backend
