Repository sulton-max/Training.AirBnb.Clone, pull requests merged in 2024-02, with the labels that each got.

#292 Create sign-up / sign-in modal
  src/Training.AirBnb.Clone.Frontend/src/App.vue
  src/Training.AirBnb.Clone.Frontend/src/assets/main.css
  src/Training.AirBnb.Clone.Frontend/src/common/components/MainHeader.vue
  src/Training.AirBnb.Clone.Frontend/src/common/components/ModalBase.vue
  src/Training.AirBnb.Clone.Frontend/src/infrastructure/services/DocumentService.ts
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/components/AuthenticationServices.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/components/CountryCodePicker.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/components/EmailPhoneInput.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/components/HeaderHome.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/components/SignInUpModal.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/models/CountryPhoneCode.ts
  src/Training.AirBnb.Clone.Frontend/tailwind.config.js
Labels: feature, high, frontend

#285 Create sms and email sender service and brokers
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Configurations/HostConfiguration.Extensions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Brokers/IEmailSenderBroker.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Brokers/ISmsSenderBroker.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Models/SmsMessage.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Services/IEmailSenderService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Services/ISmsSenderService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Common/Exceptions/FuncResult.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Extensions/ExceptionExtensions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/AirBnB.Infrastructure.csproj
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Brokers/SmtpEmailSenderBroker.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Brokers/TwilioSmsSenderBroker.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Services/EmailSenderService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Services/SmsSenderService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Settings/SmtpEmailSenderSettings.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Settings/TwilioSmsSenderSettings.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Validators/SmsMessageValidator.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Extensions/LinqExtensions.cs
Labels: feature, medium, backend

#306 Create project documentation
  .DS_Store
  .idea/workspace.xml
  LICENCE
  README.md
  docs/assets/Home.png
  docs/assets/MainLogo.png
  docs/identity.md
  docs/media-api.md
  docs/notifications-api.md
  docs/payment-api.md
  src/.DS_Store
Labels: documentation, high, business-logic

#307 Fix caching - remove `QuerySpecification`
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Controllers/AccountsController.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Controllers/ListingsController.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Controllers/NotificationsController.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Identity/Services/IListingService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Identity/Services/IUserService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Identity/Services/IUserSettingsService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Services/IEmailTemplateService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Services/ISmsTemplateService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/StorageFiles/IStorageFileService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Listings/Models/ListingCategoryFilter.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Listings/Services/IListingCategoryService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Common/Query/FilterPagination.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Common/Query/IQueryConvertible.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Common/Query/QueryPagination.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Common/Query/QuerySpecification.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Identity/Services/UserService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Identity/Services/UserSettingsService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Services/EmailTemplateService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Services/SmsTemplateService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/StorageFiles/StorageFileService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Listings/Services/ListingCategoryService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Listings/Services/ListingService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Extensions/LinqExtensions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/EmailTemplateRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/EntityRepositoryBase.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/IEmailTemplateRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/IListingCategoryRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/IListingRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/ISmsTemplateRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/IStorageFileRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/IUserRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/IUserSettingsRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/ListingCategoryRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/ListingRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/SmsTemplateRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/StorageFileRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/UserRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/UserSettingsRepository.cs
Labels: bug, high, backend

#297 Create menu component
  src/Training.AirBnb.Clone.Frontend/src/App.vue
  src/Training.AirBnb.Clone.Frontend/src/assets/main.css
  src/Training.AirBnb.Clone.Frontend/src/common/components/MainHeader.vue
  src/Training.AirBnb.Clone.Frontend/src/common/components/MenuButton.vue
  src/Training.AirBnb.Clone.Frontend/src/common/components/ModalBase.vue
  src/Training.AirBnb.Clone.Frontend/src/common/views/Giftcards.vue
  src/Training.AirBnb.Clone.Frontend/src/common/views/HelpView.vue
  src/Training.AirBnb.Clone.Frontend/src/common/views/HomeView.vue
  src/Training.AirBnb.Clone.Frontend/src/common/views/HostHomes.vue
  src/Training.AirBnb.Clone.Frontend/src/infrastructure/router/index.ts
  src/Training.AirBnb.Clone.Frontend/src/infrastructure/services/AppThemeService.ts
  src/Training.AirBnb.Clone.Frontend/src/main.ts
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/components/HeaderHome.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/components/ListingsCategoryTab.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/profile/components/DarkModeToggler.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/profile/components/ProfileMenu.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/profile/models/MenuItem.ts
  src/Training.AirBnb.Clone.Frontend/tailwind.config.js
Labels: feature, medium, frontend

#318 Create infinite scrolling
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Controllers/ListingsController.cs
  src/Training.AirBnb.Clone.Frontend/src/common/components/HorizontalCarousel.vue
  src/Training.AirBnb.Clone.Frontend/src/common/components/InfiniteScroll.vue
  src/Training.AirBnb.Clone.Frontend/src/infrastructure/models/Action.ts
  src/Training.AirBnb.Clone.Frontend/src/infrastructure/services/DocumentService.ts
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/components/ListingCard.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/components/ListingsContainer.vue
  src/Training.AirBnb.Clone.Frontend/src/modules/locations/components/ListingsGrid.vue
Labels: feature, high, frontend

#319 Added refresh token
  .DS_Store
  .gitignore
  .idea/Training.AirBnb.Clone.iml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  .vs/Training.AirBnb.Clone/FileContentIndex/cda7271c-4944-4945-a37d-c41fc5861fa6.vsidx
  .vs/Training.AirBnb.Clone/v17/.wsuo
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  src/.DS_Store
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Configurations/HostConfiguration.Extensions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Configurations/HostConfiguration.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Configurations/MigrationExtensions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Controllers/AuthController.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Formatters/TextInputFormatter.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Mappers/EmailHistoryMapper.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Mappers/IdentityTokenMapper.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Mappers/SmsHistoryMapper.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Middlewares/AccessTokenValidationMiddleware.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/Models/DTOs/IdentityTokenDto.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Api/appsettings.Development.json
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Identity/Models/SignInDetails.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Identity/Services/IAccessTokenService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Identity/Services/IAuthService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Identity/Services/IIdentitySecurityTokenGeneratorService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Identity/Services/IIdentitySecurityTokenService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Services/IEmailHistoryService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Application/Common/Notifications/Services/ISmsHistoryService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Brokers/IRequestUserContextProvider.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Entities/EmailHistory.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Entities/RefreshToken.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Entities/SmsHistory.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Domain/Extension/ExceptionExtensions.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Identity/Services/AccessTokenService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Identity/Services/AuthService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Identity/Services/IdentitySecurityTokenGeneratorService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Identity/Services/IdentitySecurityTokenService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Services/EmailHistoryService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Services/EmailSenderService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Services/SmsHistoryService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Notifications/Services/SmsSenderService.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/RequestContexts/Brokers/RequestUserContextProvider.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Settings/JwtSettings.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Validators/EmailHistoryValidator.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Validators/RefreshTokenValidator.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Infrastructure/Common/Validators/SmsHistoryValidator.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/AccessTokenRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/EmailHistoryRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/IAccessTokenRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/IEmailHistoryRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/IRefreshTokenRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/Interfaces/ISmsHistoryRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/RefreshTokenRepository.cs
  src/Training.AirBnb.Clone.Backend/AirBnB.Persistence/Repositories/SmsHistoryRepository.cs
Labels: feature, high, backend
